/* Events */
.align-left {
  text-align: left;
}
#banner {
	background-image: url('../img/banner-gaming.png');
	background-size: cover;
	background-position: center center;
	height: 40vh;
}

nav {
    background-color: var(--background-color);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.clock {
    background-color: #000;
    color: #0f0;
    padding: 5px 10px;
    border: 2px solid #0f0;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}



nav {
    background-color: var(--background-color);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.clock {
    background-color: #000;
    color: #0f0;
    padding: 5px 10px;
    border: 2px solid #0f0;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}

.icon-button {
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease;
}

.icon-button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}