@font-face {
    font-family: 'CustomFont';
    src: url('../LTAIdentity_Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.custom-heading {
    font-family: 'CustomFont';
}